@font-face {
    font-family: "avatar";
    src: url(./Assets/avatar.ttf);
}


body {
    background: rgb(10, 10, 10);
    text-align: center;
    width: 100%;
    margin: 0;
}
 


/* <!-- Main view --> */
.hero{
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-title,  #main-message{
    font-family: 'avatar', sans-serif;
    background-image: linear-gradient(45deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#main-title{
    font-size: 100px;
    margin-bottom: 20px;
}
/* Project Grid */
#projects-title {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}


#project-grid {
    display: flex;
    flex-wrap: center;
    justify-content: center;
    text-align: left;
}

.project-card {
    background: transparent; 
    backdrop-filter: blur(10px);
    border: 1px solid grey;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.completed:hover {
    border: 1px solid white;    
}

.project-tags {
    margin: 10px 0 0 0 ;
    font-size: 14px;
    color: lightgray;
    display: flex;
    list-style: none;

}

.tag{
    font-size: 12px;
    margin-right: 10px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 10px;
}
