@font-face {
    font-family: "avatar";
    src: url(Assets/avatar.ttf);
}

body {
    margin: 0;
    text-align: center;
}
#main-title {
    font-family: 'avatar', sans-serif;
    font-size: 50px;
}


.container {
    display: flex;
    justify-content: space-around;
}