/* color pink F94F6D */
/* Border blue color 9AABD8 */
@font-face {
    font-family: "scoreboard-font";
    src: url(/Assets/scoreboard.ttf);
}
@font-face {
    font-family: "game-font";
    src: url(/Assets/game-font.ttf);
}
body {


    margin: 100px 20px 60px;
    color: white;
}
.score {
    font-family: 'game-font', sans-serif;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    background-color: black;
    border-radius: 8px;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    background-color: #1a2344;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 385px;
    width: 575px;
}
button {
    font-family: 'game-font', sans-serif;
    font-size: px;
    margin: 5px;
    width: 45px;
    height: 45px;
    background-color: #1a2344;
    border-radius: 5px;
    cursor: pointer;
    border: #9AABD8 3px solid;
    color: #9AABD8;
}

button:hover {
    background-color: #9AABD8;
    color: #1a2344;
}

#home-scoreboard, #guest-scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset{
    height: 100px;

}
#reset-button{
    font-size: 25px;
    font-family: 'game-font', Courier, monospace;
    width: 120px;
    height: 50px;
}