/* color pink F94F6D */
/* Border blue color 9AABD8 */
@font-face {
    font-family: "scoreboard-font";
    src: url(/Assets/scoreboard.ttf);
}
@font-face {
    font-family: "game-font";
    src: url(/Assets/game-font.ttf);
}
body {
    background-color: #101010;
    margin: 100px 20px 60px;
    color: white;
    text-align: start;
}

.input-container{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 30px;
}


input[type="number"] {
    color: white;
    max-width: 300px;
    height: 83px;
    border: none;
    border-radius: 8px;
    font-size: 60px;
    margin-top: 0px;
    text-align: center;
}

.container{
    font-size: 30px;
    margin: 20px 40px;
    align-items: center;
    max-width: 100px;
    cursor: pointer;
    background-color: #1a2344;
    border-radius: 5px;
    border: #9AABD8 3px solid;
    color: #9AABD8;
}

/* .metric{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9AABD8;
    width: 250px;
} */

.metric h2{
    color: #8B5CF6;
    font-size: 24px;
    margin: 10px 0 5px 0;
}

.metric p{
    color: white;
    font-size: 15px;
}

.button{
    margin-top: 20px;
}